$base-color:#3C3C3C;

@mixin basic-inner{
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

@mixin basic-flex{
  display: flex;
  flex-wrap: wrap;
}


/* ベース
---------------------------*/

body{
    color:$base-color;
    background-color: #F8F8F8;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 2;
}


img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* header
------------------------------*/
.header{

  &__inner{
    @include basic-inner;
    @include basic-flex;
    justify-content: space-between;
    align-items: center;
    margin:50px 0 100px;
  }

}


/* g-nav
-------------------------------*/
.g-nav{

  &__list{
    @include basic-flex;
    align-items: center;
  }

  &__item{
    margin-left: 10px;
  }

  &__link{
    color: $base-color;
  }
}

/*media
----------------------------*/

.media{

    &__text{
        text-align: center;
        margin-bottom: 160px;
    }

}


/*home*/

/*news
-----------------------------------*/

.news{

  &__titleAll{
    text-align: center;
    width: 20%;
  }

  &__sub-title{
    color: #8E8E8E;
    font-size: 14px;

  }

  &__title{
    font-size: 24px;
  }

  &__day{
    color: #8E8E8E;
    font-size: 14px;
    margin: 15px 0;
  }

  &__mass{
    margin-left: 200px;
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
  }
}


/*access
--------------------------*/

.access{

  margin: 160px 0 100px;

  &__titleAll{
    text-align: center;
    width: 20%;
  }

  &__sub-title{
    color: #8E8E8E;
    font-size: 14px;

  }

  &__title{
    font-size: 24px;
  }

  &__main{
    @include basic-flex;
    margin: 10px 0 0 200px;
  }

  &__contact{
    width: 30%;
    @include basic-flex;
    align-items: center;
  }

  &__icon{
    padding-right: 20px;
  }
}

/*fotter
----------------------------*/

footer{

    &__inner{
    @include basic-flex;
    justify-content: space-between;
    align-items: center;
    margin:50px 0 100px;
  }

}





/*affiliation*/

.player{



    &__titleAll{
    text-align: center;
    width: 20%;
  }

  &__sub-title{
    color: #8E8E8E;
    font-size: 14px;

  }

  &__title{
    font-size: 24px;
  }

  &__mass{
     @include basic-flex;
     align-items: center;
     margin: 75px 0;
  }

  &__massRight{
     @include basic-flex;
     align-items: center;
     margin: 75px 0;
     flex-direction:row-reverse;
  }

  &__text{
    margin-left: 120px;
  }

  &__name{
    font-size: 22px;
    font-weight: normal;
  }

  &__form{
    margin: 55px 0 30px;
  }

  &__history{
    @include basic-flex;

    p{
      margin-right: 30px;
    }
  }

}
