@charset "UTF-8";
/* ベース
---------------------------*/
body {
  width: 83%;
  max-width: 1170px;
  margin: 0 auto;
  color: #3C3C3C;
  background-color: #F8F8F8;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header
------------------------------*/
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 100px;
}

/* g-nav
-------------------------------*/
.g-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-nav__item {
  margin-left: 10px;
}

.g-nav__link {
  color: #3C3C3C;
}

/*media
----------------------------*/
.media__text {
  text-align: center;
  margin-bottom: 160px;
}

/*home*/
/*news
-----------------------------------*/
.news__titleAll {
  text-align: center;
  width: 20%;
}

.news__sub-title {
  color: #8E8E8E;
  font-size: 14px;
}

.news__title {
  font-size: 24px;
}

.news__day {
  color: #8E8E8E;
  font-size: 14px;
  margin: 15px 0;
}

.news__mass {
  margin-left: 200px;
  padding-bottom: 15px;
  border-bottom: 1px solid #707070;
}

/*access
--------------------------*/
.access {
  margin: 160px 0 100px;
}

.access__titleAll {
  text-align: center;
  width: 20%;
}

.access__sub-title {
  color: #8E8E8E;
  font-size: 14px;
}

.access__title {
  font-size: 24px;
}

.access__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 0 200px;
}

.access__contact {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__icon {
  padding-right: 20px;
}

/*fotter
----------------------------*/
footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 100px;
}

/*affiliation*/
.player__titleAll {
  text-align: center;
  width: 20%;
}

.player__sub-title {
  color: #8E8E8E;
  font-size: 14px;
}

.player__title {
  font-size: 24px;
}

.player__mass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 75px 0;
}

.player__text {
  margin-left: 120px;
}

.player__name {
  font-size: 22px;
}

.player__form {
  margin: 55px 0 30px;
}

.player__history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.player__history p {
  width: 40%;
  margin-right: 30px;
}
/*# sourceMappingURL=style.css.map */